<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>Maven-SimpleServletWebApp</display-name>
    <servlet>
    	<description>A simple servlet</description>
    	
    	<display-name>SimpleServlet</display-name>
    	<servlet-name>SimpleServlet</servlet-name>
    	<servlet-class>com.emil.maven.simpleservlet.SimpleServlet</servlet-class>
    </servlet>
     <servlet>
    	<display-name>TestingServletXMLBehavior</display-name>
    	<servlet-name>TestingServletXMLBehavior</servlet-name>
    	<servlet-class>com.emil.maven.simpleservlet.TestingServletXMLBehavior</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>SimpleServlet</servlet-name>
    	<url-pattern>/SimpleServletPath</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>TestingServletXMLBehavior</servlet-name>
    	<url-pattern>/TestingServletXMLBehavior</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    </web-app>
